<template>
  <div>
    <Invitation />
  </div>
</template>

<script>
import Invitation from '@/components/Invitation/Invitation'

export default {
  layout: "authorization",

  components: {
    Invitation
  }
}
</script>

