@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

body {
  margin: 0; //overflow:hidden;
  background-color: #FFFFFF;
  font-family: "Montserrat";
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both
}

.page-enter-active,
.page-leave-active {
  transition: opacity .5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

button {
  &:focus {
    outline: 0;
  }
}

.th-logo {
  font-size: 36px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-weight: 300;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.input-internal-icon {
  padding-left: 5px;
}

.vue-avatar--wrapper {
  font: 16px/0 Helvetica, Arial, sans-serif !important;
}

.th-section {
  padding: 60px;

  .th-title {
    margin-bottom: 60px !important;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    font-size: 24px;
  }
}
