<template>
  <div class="Company">
    <div class="Company__title">
      <Avatar
        v-if="name"
        :style="'margin-right: 5px'"
        :name="name || ' '" />

      <p class="Company__title-name">
        {{ name }}
      </p>
    </div>

    <ContactInfo
      v-if="email"
      class="Company__contact-info"
      type="mail"
      :value="email"/>

    <ContactInfo
      v-if="phone"
      class="Company__contact-info"
      type="phone"
      :value="phone"/>
  </div>
</template>

<script>
import Avatar from '@/components/Companies/CompanyAvatar'
import ContactInfo from '@/components/Common/ContactInfo'

export default {
  name: 'th-company',

  components: {
    Avatar,
    ContactInfo
  },

  props: {
    name: String,
    email: String,
    phone: String
  }
}
</script>

<style lang="scss" scoped>
.Company {
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  align-items: inherit;

  .Company__title {
    display: flex;
    flex-direction: row;
    justify-content: inherit;
    align-items: inherit;

    .Company__title-name {
      margin-top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 40px;
      width: inherit;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
    }
  }

  .Company__contact-info {
    margin-top: 10px;
    justify-content: inherit;
    align-items: inherit;
  }
}
</style>
